body {
  margin: 0; }

.wrapper {
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-areas: "header" "main"; }

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 30% auto;
  background-color: #666; }

main {
  display: flex;
  grid-area: main; }
