:root{
    --main_details_color: rgb(255, 115, 0);
}

body{
  margin: 0
}

.wrapper{ 
    min-height: 100vh;
  background-color: #333;
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-areas: 
  "header"
  "main";
  z-index: 1;
}

header{
  grid-area: header;
  display: grid;
  grid-template-columns: 30% auto;
  background-color: #333;
  z-index: 3;
  position: sticky;
  top: 0;
  /* height: 100px;
  width: 100%; */
  transition: all .5s;
}

.header_hide{
  top: -100%;
}

.header_text{
  display: flex;
  color: #fff;
  /* justify-content: center; */
  align-items: center;
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  /* text-align: center; */
}

.menu_button_area{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_button{
  background-color: #fff;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .menu_button:hover{
  cursor: pointer;
  
}

.menu_button:active{

}

.menu_icon{
  font-size: 2.6em;
} */

/* experiment with transforming menu */

/* Icon 3 */
#nav-icon3{
  width: 60%;
  height: 50%;
  /* position: relative; */
  /* margin: 50px auto; */
  /* -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg); */
  transform: rotate(0deg);
  /* -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out; */
  transition: .5s ease-in-out;
  cursor: pointer;

}
#nav-icon3 span{
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  /* -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg); */
  transform: rotate(0deg);
  /* -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out; */
  transition: .25s ease-in-out;
  scale: 0.5;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 12px;
}

#nav-icon3 span:nth-child(4) {
  top: 24px;
}

#nav-icon3.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  /* -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg); */
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  /* -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg); */
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

menu{
  padding: 0;
  transition: .3s;
  position: fixed;
  height: 300px;
  width: 100%;
  background-color:  #333;
  margin: 0;
  top: 100px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Lato', sans-serif;
}

.hidden{
  top: -100%;
}

.menu_item{
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
}

.dark{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
  transition: 0.3s;
  z-index: 1;
}

.hidden_dark{
  opacity: 0;
  z-index: -1;
}

main{
  grid-area: main;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* padding: 5px; */
  z-index: 0;
  font-family: 'Lato', sans-serif;
}

/* home-page */

.bass_image{
  /* border: solid 1px black; */
  width: 100%;
  height: 130vh;
  background-image: url(../img/standing_bass_transparent.png);
  background-size: cover;
  background-color: #fff0;
}

.introduction{
    padding: 10px;
}

/* first-steps */

.fs_title{

}

.fs_bild{
  height: 95vw;
  width: 95vw;
  border: solid 1px black;
}

.step{
  padding: 10px;
}

.fs_bild1{
    background-image: url(../img/Alpha1_500.jpg);
    background-size: cover;
    background-position: center;
}

.fs_bild2{
    background-image: url(../img/Close_up_playing_500.jpg);
    background-size: cover;
    background-position: center;
}

.fs_bild3{
    background-image: url(../img/White_close_up_500.jpg);
    background-size: cover;
    background-position: center;
}

h2, h3, p{
    color: #fff;
}

@media only screen and (min-width: 900px){
    .wrapper{
        min-height: 100vh;
        /* height: 100vh; */
        margin: 0;
        /* overflow: hidden; */
        display: grid;
        grid-template-rows: 100px auto auto; 
        grid-template-areas: 
        "header"
        "menu"
        "main";
        background-color: #333;
        /* background-image: url(../img/close_up_bass.png);
        background-size: cover;
        background-repeat: no-repeat; */
    }

    .index_wrapper{
        overflow: hidden;
    }

    header{
        background-color: #fff0;
        color: white;
        /* text-align: center; */
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    .header_hide{
        top: 0;
    }

    menu{
        background-color: #fff0;
        background-image: url(../img/close_up_bass.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 60vh;
        flex-direction: row;
        padding-top: 20px;
        align-items: flex-start;
        grid-area: "menu";
        justify-content: center;
    }

    .menu_item{
        /* background-color: var(--main_details_color); */
        color: #fff;
        padding: 10px;
        border-radius: 10px;
        margin-left: 20px;
        transition: 0.4s;
    }

    .menu_item:hover{
        color: #888;
    }

    .menu_button_area{
        display: none;
    }

    .hidden{
        top: 0px;
    }

    .dark{
        display: none;
    }

    main{
        grid-area: main;
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        /* grid-template-rows: 60vh auto; */
        /* padding-top: 60vh; */
        }
        
    .bass_image{
        display: none;
        /* background-image: none;
        display: none;
        top: 100px;
        max-height: 60vh;
        max-width: 1500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 0; */
    }

    .introduction{
        font-family: ;
        color: #fff;
        /* margin-bottom: 50px; */
        max-width: 70%;
        margin: 0;
    }

    .fs_bild{
        height: 400px;
        max-width: 1100px;
    }

    .step{
        max-width: 1100px;
    }

    .fs_bild1{
        background-image: url(../img/Alpha1.jpg);
    }

    .fs_bild2{
        background-image: url(../img/close_up_playing.png);
    }

    .fs_bild3{
        background-image: url(../img/White_close_up.jpeg);
    }
}